{% extends "../base.html" %}

{% block title %}Activation account{% endblock %}

{% block content %}
	<span class="login100-form-title p-b-53">
		Activation account
	</span>

	<div class="p-t-31 p-b-9">
		<span class="txt1" id="username">
		{% if error %}
	        <div id="error" style="color:red;">{{ error }}</div>
	    {% endif %}
		</span>
	</div>

	<div class="p-t-31 p-b-9">
		<span class="txt1" id="email">
			Code
		</span>
	</div>
	<div class="wrap-input100 validate-input" data-validate = "Code is required">
		<input class="input100" type="text" name="code" >
		<span class="focus-input100"></span>
	</div>					
{% endblock content %}

{% block button %} Activate {% endblock button %}


{% block footer %}
	<p>
		<a href="{% url 'product_list' %}" class="txt2 bo1">
			Come back to shop
		</a>				
	</p>
{% endblock footer %}