{% extends "../base.html" %}

{% block title %}Profile{% endblock %}

{% block style %}
	<style type="text/css">
		.margin {
			margin-top: 30px;
			margin-bottom: -30px;
		}

		.password {
			font-size: 22px;
			font-weight: bold;
			color: #555555;
			font-family: "Cairo", sans-serif;
		}

		.free_input {
			font-family: Poppins-Regular;
			color: #333333;
			line-height: 1.2;
			font-size: 18px;
			display: block;
			width: 100%;
			background: transparent;
			height: 60px;
			padding: 0 20px;
		}

		.free_input {
			font-family: Poppins-Regular;
			color: #333333;
			line-height: 1.2;
			font-size: 18px;

			display: block;
			width: 100%;
			background: transparent;
			height: 60px;
			padding: 0 20px;
			}

		.focus-free_input {
			position: absolute;
			display: block;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			top: -1px;
			left: -1px;
			pointer-events: none;
			border: 1px solid #fc00ff;
			border-radius: 10px;

			visibility: hidden;
			opacity: 0;

			-webkit-transition: all 0.4s;
			-o-transition: all 0.4s;
			-moz-transition: all 0.4s;
			transition: all 0.4s;

			-webkit-transform: scaleX(1.1) scaleY(1.3);
			-moz-transform: scaleX(1.1) scaleY(1.3);
			-ms-transform: scaleX(1.1) scaleY(1.3);
			-o-transform: scaleX(1.1) scaleY(1.3);
			transform: scaleX(1.1) scaleY(1.3);
			}

		.free_input:focus + .focus-free_input {
			visibility: visible;
			opacity: 1;

			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
			}

	</style>
{% endblock style %}

{% block content %}
	<span class="login100-form-title p-b-53">
		<h1>Profile</h1>
		<p class="margin">Here you can change 
		info about yourself</p>
	</span>

	<div class="p-t-31 p-b-9">
		<span class="txt1" id="username">
		{% if error %}
			<div id="error" style="color:red;">{{ error }}</div>
		{% endif %}
		</span>
	</div>

	<div class="p-t-31 p-b-9">
		<span class="txt1">
			Username
		</span>
	</div>
	<div class="wrap-input100 validate-input" data-validate = "Username is required">
		<input class="input100" type="text" name="username" value="{{ user.username }}">
		<span class="focus-input100"></span>
	</div>

	<div class="p-t-31 p-b-9">
		<span class="txt1">
			Email
		</span>
	</div>
	<div class="wrap-input100 validate-input" data-validate = "Email is required">
		<input class="input100" type="text" name="email" value="{{ user.email }}">
		<span class="focus-input100"></span>
	</div>

	<div class="p-t-13 p-b-9">
		<span class="txt1" id="password">
			Old password
		</span>
	</div>
	<div class="wrap-input100" data-validate = "Password is required">
		<input class="input100" type="password" name="password" >
		<span class="focus-input100"></span>
	</div>
	
	<div class="p-t-13 p-b-9">
		<span class="txt1" id="password">
			New password
		</span>
	</div>
	<div class="wrap-input100" data-validate = "Password is required">
		<input class="input100" type="password" name="new_password" >
		<span class="focus-input100"></span>
	</div>

	<div class="p-t-13 p-b-9">
		<span class="txt1" id="password2">
			Repeat new password
		</span>
	</div>
	<div class="wrap-input100" data-validate = "Password is required">
		<input class="input100" type="password" name="new_password2" >
		<span class="focus-input100"></span>
	</div>
{% endblock content %}

{% block button %} Confirm changes {% endblock button %}

{% block footer %}
	<span class="txt2">
		Do you want to go?
	</span>

	<a href="{% url 'logout' %}" class="txt2 bo1">
		Log out
	</a>
	<p>
		<a href="{% url 'product_list' %}" class="txt2 bo1">
			Come back to shop
		</a>				
	</p>
{% endblock footer %}