{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Домашняя страница' %}{% endblock %}

{% block style %}
    <style type="text/css">
        .sale {
            text-decoration: line-through;
        }
    </style>
{% endblock %}

{% block user_for_phone %}
    {% if request.user.is_authenticated %}
        <div class="header__top__right__auth">
            <a href="{% url 'profile' %}"><i class="fa fa-user"></i>{% trans 'Профиль' %}</a>
        </div>
        {% else %}
        <div class="header__top__right__auth">
            <a href="{% url 'login' %}"><i class="fa fa-user"></i>{% trans 'Вход' %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block user_for_pc %}
    {% if request.user.is_authenticated %}
        <div class="header__top__right__auth">
            <a href="{% url 'profile' %}"><i class="fa fa-user"></i>{{ user.username }}</a>
        </div>
        {% else %}
        <div class="header__top__right__auth">
            <a href="{% url 'login' %}"><i class="fa fa-user"></i>{% trans 'Вход' %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>{% trans 'Департаменты' %}</span>
                        </div>
                        <ul>{% for department in departments %}
                            <li><a href="{% url 'shop_grid' %}/{{ department.url }}/">{{ department.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="{% trans 'Что Вы хотите найти?' %}">
                                <button type="submit" class="site-btn">{% trans 'Поиск' %}</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>{% trans 'поддержка' %} 24/7</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static 'img/hero/main_img.jpg' %}">
                        <div class="hero__text">
                            <span>{% trans 'СВЕЖИЕ ОВОЩИ' %}</span>
                            {% if advert.text == "Бесплатная доставка" %}
                                <h2>
                                    {{ advert.title|slice:"0:5" }}</br>
                                    {{ advert.title|slice:"5:18" }}</br>
                                    {{ advert.title|slice:"18:" }}
                                </h2>
                            {% else %}
                                <h2>
                                    {{ advert.title|slice:"0:10" }}</br>
                                    {{ advert.title|slice:"10:" }}
                                </h2>
                            {% endif %}
                            <p>{{ advert.text }}</p>
                            <a href="{% url 'shop_grid' %}" class="primary-btn">{% trans 'Купить сейчас' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for product in top_slider_products %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{{ product.img.url }}">
                            <h5><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->

    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>{% trans 'Рекомендуемые продукты' %}</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">{% trans 'Все' %}</li>
                            <li data-filter=".oranges">{% trans 'Фрукты' %}</li>
                            <li data-filter=".fresh-meat">{% trans 'Свежее мясо' %}</li>
                            <li data-filter=".vegetables">{% trans 'Овощи' %}</li>
                            <li data-filter=".fastfood">{% trans 'Салат' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for product in featured_products|slice:":8" %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{ product.class_for_css }}">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{ product.img.url }}">
                            <ul class="featured__item__pic__hover">
                                <li>
                                    <a onclick="click_on_btn_for_heart('{{ product.id }}');"><i class="fa fa-heart"></i></a>
                                    <form action="{% url 'change_wish_list' %}" method="POST" style="display: none">
                                        {% csrf_token %}
                                        <input type="text" name="id" value="{{ product.id }}">
                                        <input type="text" name="back" value="{{ request.path }}">
                                        <button id="{{ product.id }}"></button>
                                    </form>
                                </li>
                                <li><a><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{ product.name }}</a></h6>
                            <h5>${{ product.price }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
<!-- oranges fresh-meat vegetables fastfood -->
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/img/img-1.jpg' %}" alt="">
                        <a href="{% url 'shop_grid' %}"><button class="not_real_btn_1">{% trans 'КУПИТЬ' %}</button></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/img/img-2.jpg' %}" alt="">
                        <a href="{% url 'shop_grid' %}"><button class="not_real_btn_2">{% trans 'КУПИТЬ' %}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>{% trans 'Из блога' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/blog-1.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/blog-2.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/blog-3.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Visit the clean farm in the US</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function click_on_btn_for_heart(id){
            btn = document.getElementById(id);
            btn.click();
        }
    </script>
{% endblock content %}