{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Список товаров' %}{% endblock %}

{% block user_for_phone %}
    {% if request.user.is_authenticated %}
        <div class="header__top__right__auth">
            <a href="{% url 'profile' %}"><i class="fa fa-user"></i>{% trans 'Профиль' %}</a>
        </div>
        {% else %}
        <div class="header__top__right__auth">
            <a href="{% url 'login' %}"><i class="fa fa-user"></i>{% trans 'Вход' %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block user_for_pc %}
    {% if request.user.is_authenticated %}
        <div class="header__top__right__auth">
            <a href="{% url 'profile' %}"><i class="fa fa-user"></i>{{ user.username }}</a>
        </div>
        {% else %}
        <div class="header__top__right__auth">
            <a href="{% url 'login' %}"><i class="fa fa-user"></i>{% trans 'Вход' %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>{% trans 'Департаменты' %}</span>
                        </div>
                        <ul>
                            {% for department in departments %}
                            <li><a href="{% url 'shop_grid' %}/{{ department.url }}/">{{ department.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="{% trans 'Что Вы хотите найти?' %}">
                                <button type="submit" class="site-btn">{% trans 'ПОИСК' %}</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>{% trans 'Поддержка' %} 24/7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="/">{% trans 'Домашняя страница' %}</a>
                            <span>{% trans 'Магазин' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>{% trans 'Департамент' %}</h4>
                            <ul>
                                {% for department in departments %}
                                <li><a href="{% url 'shop_grid' %}/{{ department.url }}/">{{ department.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>{% trans 'Цена' %}</h4>
                            <div class="price-range-wrap">

                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="{{ the_cheapest_price }}" data-max="{{ most_expensive_price }}">

                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item sidebar__item__color--option">
                            <h4>{% trans 'Цвет' %}</h4>
                            {% for color in colors %}
                            <div class="sidebar__item__color sidebar__item__color--{{ color.class_for_css }}">
                                <label for="{{ color.class_for_css }}">
                                    {{ color.name }}
                                    <input type="radio" id="{{ color.class_for_css }}">
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>{% trans 'Новинки' %}</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        {% for product in products|slice:":3" %}
                                        <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.img.url }}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{ product.name }}</h6>
                                                <span>${{ product.price }}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        {% for product in products|slice:"3:6" %}
                                        <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.img.url }}" alt="">
                                                
                                            </div>
                                            <div class="latest-product__item__text" alt="">
                                                <h6>{{ product.name }}</h6>
                                                <span>${{ product.price }}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>{% trans 'Скидки' %}</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for product in products %}
                                    {% if product.price_with_sale %}
                                    <div class="col-lg-4">
                                        <div class="product__discount__item">
                                            <div class="product__discount__item__pic set-bg"
                                                data-setbg="{{ product.img.url }}">
                                                <div class="product__discount__percent">-{{ product.sale }}%</div>
                                                <ul class="product__item__pic__hover">
                                                    <li>
                                                        <a onclick="click_on_btn_for_heart('{{ product.id }}');"><i class="fa fa-heart"></i></a>
                                                        <form action="{% url 'change_wish_list' %}" method="POST" style="display: none">
                                                            {% csrf_token %}
                                                            <input type="text" name="id" value="{{ product.id }}">
                                                            <input type="text" name="back" value="{{ request.path }}">
                                                            <button id="{{ product.id }}"></button>
                                                        </form>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__discount__item__text">
                                                <span>{{ product.department }}</span>
                                                <h5><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                                                <div class="product__item__price">${{ product.price_with_sale }}<span>${{ product.price }}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>{% trans 'Сортировать по' %}</span>
                                    <select>
                                        <option value="0">{% trans 'Умолчанию' %}</option>
                                        <option value="0">{% trans 'С конца' %}</option>
                                        <option value="0">{% trans 'Случайно' %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span id="int"> 16 </span>{% trans 'продуктов' %}</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6" id="quantity">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ product.img.url }}" id="img_list">
                                    <ul class="product__item__pic__hover">
                                        <li>
                                            <a onclick="click_on_btn_for_heart('{{ product.id }}');"><i class="fa fa-heart"></i></a>
                                            <form action="{% url 'change_wish_list' %}" method="POST" style="display: none">
                                                {% csrf_token %}
                                                <input type="text" name="id" value="{{ product.id }}">
                                                <input type="text" name="back" value="{{ request.path }}">
                                                <button id="{{ product.id }}"></button>
                                            </form>
                                        </li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                                    <h5>${{ product.price }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function click_on_btn_for_heart(id){
            btn = document.getElementById(id);
            btn.click();
        }
        
        let int = document.querySelectorAll('#quantity').length;
        document.querySelector('#int').innerText = int;
    </script>
{% endblock %}