{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {% for product in products %}
        {{ product.name }}
    {% endfor %}
{% endblock %}

{% block user_for_phone %}
    {% if request.user.is_authenticated %}
        <div class="header__top__right__auth">
            <a href="{% url 'profile' %}"><i class="fa fa-user"></i>{% trans 'Профиль' %}</a>
        </div>
        {% else %}
        <div class="header__top__right__auth">
            <a href="{% url 'login' %}"><i class="fa fa-user"></i>{% trans 'Вход' %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block user_for_pc %}
    {% if request.user.is_authenticated %}
        <div class="header__top__right__auth">
            <a href="{% url 'profile' %}"><i class="fa fa-user"></i>{{ user.username }}</a>
        </div>
        {% else %}
        <div class="header__top__right__auth">
            <a href="{% url 'login' %}"><i class="fa fa-user"></i>{% trans 'Вход' %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>{% trans 'Департаменты' %}</span>
                        </div>
                        <ul>
                            {% for department in departments %}
                            <li><a href="{% url 'shop_grid' %}/{{ department.url }}/">{{ department.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="{% trans 'Что Вы хотите найти?' %}">
                                <button type="submit" class="site-btn">{% trans 'Поиск' %}</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>{% trans 'Поддержка' %} 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ product.name }}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'main_page' %}">{% trans 'Домашняя страница' %}</a>
                            <a href="/">{{ product.department }}</a>
                            <span>{{ product.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{ product.img.url }}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            {% for photo in photos %}
                            <img data-imgbigurl="{{ photo.img.url }}"
                                src="{{ photo.img.url }}" alt="">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        {% if product.price_with_sale %}
                            <div class="product__details__price">$<span id="price">{{ product.price_with_sale }}</span></div>
                        {% else %}
                            <div class="product__details__price">$<span id="price">{{ product.price }}</span></div>
                        {% endif %}
                        <div class="product__details__quantity">

                            <div class="pro-qty">
                                <span class="dec qtybtn">-</span>
                                <input type="text" value="1" id="value" disabled max="{{ product.quantity }}">
                                <span class="inc qtybtn">+</span>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">{% trans 'ДОБАВИТЬ В КОРЗИНУ' %}</a>
                        <a class="heart-icon" onclick="click_on_btn_for_heart('{{ product.id }}');"><span class="icon_heart_alt"></span></a>
                        <form action="{% url 'change_wish_list' %}" method="POST" style="display: none">
                            {% csrf_token %}
                            <input type="text" name="id" value="{{ product.id }}">
                            <input type="text" name="back" value="{{ request.path }}">
                            <button id="{{ product.id }}"></button>
                        </form>
                        <ul>
                            {% if product.quantity %}
                                <li><b>{% trans 'Доступность' %}:</b><span>{% trans 'В наличии' %}.</span></li>
                            {% else %}
                                <li><b>{% trans 'Доступность' %}:</b><span>{% trans 'Нет в наличии' %}.</span></li>
                            {% endif %}

                            <li><b>{% trans 'Доставка' %}:</b><span>{% trans 'Один день доставки' %}.</span></li>
                            <li><b>{% trans 'Масса' %}:</b><span>{{ product.weight }} {% trans 'кг' %}.</span></li>

                            {% if product.color %}
                                {% for col in product.color.all %}
                                <li><b>{% trans 'Цвет' %}:</b><span>{{ col }}.</span></li>
                                {% endfor %}
                            {% endif %}                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">{% trans 'Описание' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">{% trans 'Отзывы' %}<span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>{% trans 'Информация о продукте' %}</h6>
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>

                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                {% if reviews %}
                                    {% for review in reviews %}
                                        <div class="review">{{ review.text }}</div>
                                    {% endfor %}
                                {% else %}
                                    <p class="add_review_first">{% trans 'Оставьте отзыв первым' %}!</p>
                                {% endif %}

                                {% if request.user.is_authenticated %}
                                    <form class="add_review_form" method="POST">
                                        {% csrf_token %}
                                        <textarea placeholder="{% trans 'Ваш отзыв' %}" name="text"></textarea><br>
                                        <button type="submit">{% trans 'ОСТАВИТЬ ОТЗЫВ' %}</button>
                                    </form>
                                {% else %}
                                    <p>{% trans 'Чтобы добавить отзыв нужно ввойти в аккаунт' %}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>{% trans 'Похожий продукт' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in similar_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ product.img.url }}">
                            <ul class="product__item__pic__hover">
                                <li>
                                    <a onclick="click_on_btn_for_heart('{{ product.id }}');"><i class="fa fa-heart"></i></a>
                                    <form action="{% url 'change_wish_list' %}" method="POST" style="display: none">
                                        {% csrf_token %}
                                        <input type="text" name="id" value="{{ product.id }}">
                                        <input type="text" name="back" value="{{ request.path }}">
                                        <button id="{{ product.id }}"></button>
                                    </form>
                                </li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                            {% if product.price_with_sale %}
                                <h5>${{ product.price_with_sale }}</h5>
                            {% else %}
                                <h5>${{ product.price }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        function click_on_btn_for_heart(id){
            btn = document.getElementById(id);
            btn.click();
        }

        let value_for_default = 1;

        function cost_calculation(){
            let new_value = document.getElementById('value').value;
            let price = document.getElementById('price');
            if (value_for_default !== new_value){                          
                let result = new_value * (price.innerHTML/value_for_default);
                value_for_default = new_value;
                price.innerHTML = result; 
            }
        }

        document.querySelector('body').addEventListener('click', function(){
            cost_calculation();
        });
    </script>
{% endblock %}