{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Социальные сети' %}{% endblock %}

{% block style %}
    <style type="text/css">
        .social {
            margin: 20px;
            text-align: center;
        }
        .sorry {
            width: 1150px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <h3 class="social">{% trans 'Извините, но у нас пока нет аккаунтов в социальных сетях' %}</h3>
    <img class="sorry" src="{% static 'img/sorry.jpeg' %}">
{% endblock %}